* {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	font-weight: 400;
}

#app {
	max-width: 1920px;
	margin: 0 auto;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	flex-wrap: wrap;
}

.container_center {
	justify-content: center;
	align-items: center;
}

.header {
	padding: 20px 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	text-align: center;
}

.title {
	flex: 1 0 100%;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.counter {
	width: 100%;
	margin-bottom: 20px;
}

.list {
	background-color: #fcfcfc;
	margin: 20px 0;
}

.item {
	background-color: #e3e3e3;
	width: 100%;
	padding: 20px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
}

.item__title {
	text-transform: uppercase;
	margin-bottom: 20px;
}

.item__content {
	border-top: 1px solid #ccc;
	margin: 20px 0;
}

.item__text {
	margin: 20px 0;
}

.btn {
	padding: 10px 20px;
	text-transform: uppercase;
	margin: 10px 10px 10px 0;
}

.btn_active {
	background-color: darkcyan;
	color: #fff;
}

.btn_warning {
	background-color: #ea920f;
	color: #000;
}

.btn_danger {
	background-color: #ee0b0b;
	color: #fff;
}

